.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials {
  color: #ffffff;

  line-height: 19px;
  letter-spacing: 0.2625px;
  text-transform: uppercase;
}

.name {
  color: #777;
}
